*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
  background-color: #ffffff;
  color: #333;
}
h1{
  text-align: center;
  padding:0 250;
  margin: 50;
}

.search-filter{
  display: flex;
  flex-wrap: wrap;
  gap:12px;
  margin:25px auto 40px ;
  padding: 15px 20px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  max-width:850px;
}
#searchInput,
#filterSelect{
  outline: none;
  padding: 10px 15px;
  font-size: 15px;
  border-color: #000000;
  border-radius: 5px;
  min-width: 200px;
}
.internship-card{
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  gap:40px;
  padding:20px 80px;
  justify-items: center;

}
.card{
  background-color: white;
  border-radius: 10px;
  border: solid #000000;
  box-shadow:0 4px 10px rgba(0,0,0,0.1);
  transition: transform 0.2s ease;
  flex-direction: column;
  gap: 5px;
  text-align: justify;


}
.card:hover{
  transform: translateY(-5px);
  background:#ffffff;
}
.card h3{
  color: #0f3e70;
  margin-bottom: 10px;
}
.btn1,.btn2{
  background:#0bb280;
  color: white;
  border:none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  text-align: center;
}

.btn1{
  background:#0a2540;
}
.btn-Search{
  background:#0bb280;
  color: white;
  border: none;
  padding: 10px 40px;
  border-radius: 10px;
  cursor: pointer;
  height: 42px;
 

}
