body {
    font-family: "Poppins", sans-serif;
    background: #dcdfe4;
    
    
    align-items: center;
}
main{
    display: flex;
    padding-top: 40px;
    justify-content: center;
    margin: 10px;
}

.box {
    width: 430px;
    background: #fff;
    padding: 20px 25px 25px;
    border-radius: 7px;
    border: 1px solid #c4c6ca;
}

h2 {
    text-align: center;
    margin: 0 0 15px;
    font-weight: 600;
    font-size: 21px;
}

label {
    display: block;
    margin-top: 14px;
    font-size: 14.5px;
}

input[type="text"],
input[type="email"],
input[type="file"],
select,
textarea {
    width: 100%;
    margin-top: 4px;
    padding: 9px 10px;
    border-radius: 5px;
    border: 1px solid #8d8d8d;
    font-size: 14px;
}

textarea {
    resize: vertical;
    min-height: 80px;
}

#count {
    text-align: right;
    font-size: 12px;
    color: #555;
    margin-top: 3px;
}

.application_submit_button {
    width: 100%;
    margin-top: 18px;
    padding: 10px;
    background: #0bb280;
    border: none;
    color: #fff;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
}

    .application_submit_button:hover {
        background: #1c4ea8;
    }

#note {
    margin-top: 8px;
    text-align: center;
    font-size: 14px;
}